<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>post index</title>
</head>
<body>
<main>
    <h1>Hello World</h1>
     <% @posts.each do |post| %>
        <p> <%= post.user_name %> </p>
     <% end %>
</main>
</body>
</html>